body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  #intro {
    position: relative;
    overflow: hidden; /* Asegura que los elementos hijos no se salgan del contenedor */
    background-color: #f0f8ff; /* Fondo actual */
    padding-right: 20%; /* Espacio a la derecha para la imagen */
}

#intro:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 60%; /* Ajusta el tamaño de la imagen sutil */
    background-image: url('imgs/OIG1.KiurMfJk8kranIRMnloL.png'); /* Ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen */
    background-position: center; /* Posiciona la imagen */
    opacity: 0.1; /* Ajusta la opacidad de la imagen */
    z-index: -1; /* Coloca la imagen detrás del contenido */
}

#about {
    position: relative;
    overflow: hidden; /* Asegura que los elementos hijos no se salgan del contenedor */
    background-color: #fff8e7; /* Fondo actual */
    padding-left: 20%; /* Espacio a la izquierda para la imagen */
}

#about:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 60%; /* Ajusta el tamaño de la imagen sutil */
    background-image: url('imgs/OIG2.A_UxekIylbEji2qxv3TX.png'); /* Ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen */
    background-position: center; /* Posiciona la imagen */
    opacity: 0.1; /* Ajusta la opacidad de la imagen */
    z-index: -1; /* Coloca la imagen detrás del contenido */
}

.about-content {
    position: relative; /* Asegura que el contenido esté por encima de la imagen */
    z-index: 1; /* Coloca el contenido encima de la imagen */
    text-align: justify; /* Justifica el texto */
    max-width: 60%; /* Ancho máximo del contenido de texto */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 50px; /* Añade relleno alrededor del contenido */
}

#about-title {
    font-size: 36px; /* Tamaño del título */
    font-weight: bold; /* Peso del texto */
    color: #333; /* Color del texto */
    margin-bottom: 20px; /* Margen inferior */
}

#about-text {
    font-family: 'Roboto', sans-serif; /* Fuente del texto */
    font-size: 18px; /* Tamaño del texto */
    line-height: 1.6; /* Altura de línea para legibilidad */
    color: #666; /* Color del texto */
}


  .tag-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .tag-row {
    display: flex;
    gap: 80px;
    justify-content: flex-start;
    white-space: nowrap;
    will-change: transform;
  }
  
.tag:hover {
    transform: translateY(-5px);
    position: relative;
  }
  
  .tag::after {
    content: attr(data-level);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .tag:hover::after {
    opacity: 1;
  }
  


  
  #skills {
    background-color: #7fffd4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  

  #projects {
    background-color: #ffe4c4;
  }
  
  #contact {
    background-color: #ffebcd;
  }
  
  h1, h2 {
    margin: 0;
    font-size: 3rem;
  }
  
  p {
    font-size: 1.5rem;
    max-width: 600px;
  }
  
  .profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
  

  #skills h2 {
    margin-bottom: 20px;
  }
  
  .tag-box {
    width: 50%; /* Ancho de la caja para las etiquetas */
    margin-top: 75px;
    overflow: hidden;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .tag-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .tag-row {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    white-space: nowrap;
    will-change: transform;
  }
  
  .tag {
    background-color: #ccc; /* Fondo gris para las etiquetas */
    color: #333; /* Color del texto */
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .tag:hover {
    transform: translateY(-5px);
  }
  
  .language-selector {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */

  }
  
  ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;
  }
  
  .item a {
    text-decoration: none;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #f0f9fe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 3px solid #f0f9fe;
    overflow: hidden;
  }
  
  .item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.5s ease;
  }
  
  .item:hover a::before {
    scale: 1 1;
  }
  
  .icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    z-index: 2;
  }
  
  .item a:hover .icon {
    transform: rotateY(360deg);
  }
  
  .item:nth-child(1) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
  }
  
  .item:nth-child(2) {
    --bg-color: #0077b5;
  }
  
  .item:nth-child(3) {
    --bg-color: #ff0000;
  }
  

  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  